body {
  /* background-color: black; */
}

.container {
  width: 400px;
  overflow-x: hidden;

  margin: 0 auto;
}

.carousel_container {
  display: flex;
  width: 100%;
  transition: transform 1s ease-in-out;
}

.carousel_item:nth-child(2) {
  background-color: red;
  padding: 10px;
}

.flex {
  display: flex;
}
