@import "bootstrap.scss";

.box {
  height: 150px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.h1 {
  color: red;
  font-size: 30px;
}
